<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>
    <% results.forEach(function(post) {%>
        <li>
            <%= post.message %>
            <br>
                 Post created on  <%= post.createdAt %>
                 <br>
           <input type="button" onclick="window.location.href='<%= post.imageUrl %>';" value = "Image">

        </li>
    <% }); %>
</ol>
</body>
<%- include('_footer') -%>
</html>