<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<br>
<div class="grid-container-chloe">
    <% results.forEach(function(post) {%>
        <div class="item-post">  
              
            <img class="profileImage" src= '<%= post.postedBy.profileImageUrl %>'>
            <div class='postTopMessage'>
                <h7 class="postedBy"> <%= post.postedBy.username %> </h7>
                <p1 class="postedDate"> Posted: <%= post.createdAt %> </p1>
    
            </div>  
            
            <h6 class="postMessage"> <%= post.message %></h6> 
            <div class="postImageSpace" >         
                <img class="postImage" src='<%= post.imageUrl %>' value = "Image" >
            </div> 
            <div class="likesClass">
                <form class='likeButton' method="post" action="/posts/<%= post.id %>/like/">
                    <button type="submit">Like</button>
                </form>
                <%if (post.likedBy) { %>
                    <p2 class='likesCounter'> Likes: <%=post.likedBy.length %> </p2>
                
                <% } %>
                <%if (post.likedBy==null) { %>
                    <p2 class='likesCounter' >  No likes. </p2>
                    <% } %>  
            </div>    
            <div class="dislikesClass">
                <form class='dislikeButton' method="post" action="/posts/<%= post.id %>/dislike/">
                    <button type="submit">Dislike</button>
                </form>
            
                
                <%if (post.dislikedBy) { %>
                    <p2 class='dislikesCounter'> Dislikes: <%=post.dislikedBy.length %> </p2>
                    
                <% } %>
                <%if (post.dislikedBy==null) { %>
                    <p2 class='dislikesCounter'>  No dislikes. </p2>
        
                 <% } %>   
            </div>
        </div> 
    <% }); %>
</div>
<button type="button" onclick="changeBackgroundColour()">Change Post Background Colour</button>

<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>

</body>
<%- include('_footer') -%>
</html>