
<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ul>
    <% results.forEach(function(post) {%>
        <li>
           <h3> <%= post.message %></h3>
              <p> Post created on  <%= post.createdAt %> by <%= post.postedBy.name %></p>
                               
         <img src='<%= post.imageUrl %>' value = "Image">
         <form method="post" action="/posts/<%= post.id %>/like/">
            
            <button type="submit">Like</button>
        </form>
        <form method="post" action="/posts/<%= post.id %>/dislike/">
            
            <button type="submit">Dislike</button>
        </form>
         <!-- <a href="/posts/<%= post.id %>/like/"> Like </a> -->
         


          <p> Liked by: <%=post.likedBy.length %></p>
          <p> Disliked by: <%=post.dislikedBy.length %></p>
        </li>
    <% }); %>
    </ul>

    <%if (next) { %>
        <a href="<%= next %>">Next</a>
    <% } %>
    <%if (previous) { %>
        <a href="<%= previous %>">Previous</a>
    <% } %>


</body>
<%- include('_footer') -%>
</html>