<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
   <div >
        <img class="coverImage" src= '<%= coverImageUrl %>'>
    </div>
    <div class="profiledetails">
        <img id="profileImage" src= '<%= profileImageUrl %>'>
        <div class="userdetail">
            <h1><%= name %></h1>
            <h3><%= username %></h3> 
            <p> Email: <%= email %></p>
        </div>
    </div>
            
<h1 class="postH1"><%= name %>'s Posts:</h1>
    <div class ="postContainer">
    <% posts.forEach(function(post) {%>
        <div class="post">
            <div class ="userPostImage">
                <img id="pimage" src='<%= post.imageUrl %>' value = "Image">
            </div>
        <div class="postInfo">
            <h3><%= username %></h3> 
            <p> <%= post.createdAt %></p>
            <h4> <%= post.message %></h4>
        
       
        
<!--          
       <%if (post.likedBy) { %>
            <p>  <%=post.likedBy.length %> likes. </p>
            <p> Liked by: <%=post.likedBy %> </p>
        <% } %>
        <%if (post.likedBy==null) { %>
            <p>  No likes. </p>
            <% } %>  
        
        <%if (post.dislikedBy) { %>
            <p>  <%=post.dislikedBy.length %> dislikes. </p>
            <p> Liked by: <%=post.dislikedBy %> </p>
        <% } %>
        <%if (post.dislikedBy==null) { %>
            <p>  No dislikes. </p> -->
        
        <!-- <% } %>   
          -->
         </div>
         </div>
    <% }); %>
</div>

</body>
<%- include('_footer') -%>
</html>