<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<body>

<div class="userListContainer">
    <h1 class="usersH1">Users</h1>
    <% results.forEach(function(user) {%>
       <div class="user-item">
                 <img src= '<%= user.profileImageUrl %>'>
            <p class="username"> <%= user.name %></p>
           <p> <%= user.username %>, <%= user.email %></p>
         
          <form method="get" action="/users/<%= user.id %>/">
            <button type="submit">User info</button>
         </form>
        </div>
  
    <% }); %>

</div>
    </body>
    <footer>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
    </footer>
    <%- include('_footer') -%>

</html>